{% extends 'home/layout.html' %}

{% block title %}Blog List{% endblock %}

{% block body %}
<h1 id="head">Blogo</h1>
<h1>Blog List</h1>
<a href="{% url 'new_blog' %}" class="button button-create">Create New Blog</a>
<ol>
    {% for blog in blogs %}
    
    <li>
        <strong><a href="{% url 'view_blog' blog.id %}" id="view">{{ blog.title }}</a></strong>
        <a href="{% url 'edit_blog' blog.id %}" class="button button-edit">Edit</a>
        <a href="{% url 'delete_blog' blog.id %}" class="button button-delete">Delete</a>
    </li>
    {% endfor %}
</ol>
{% endblock %}
